* {

}

header {

}

body {
    max-width: 1200px;
    margin: 0 auto;
    background-color: rgb(25,25, 25);
}

h1 {
    color: rgb(255, 255, 255)
}

p {
    color: rgb(255, 255, 255)
}

a {
    color: rgb(0, 0, 255)
}

.content {
    justify-content: center;
    margin-top: 30px;
}

.content-column {
    column-count: 2;
}

.content-center {
    display: flex;
    justify-content: center;
}

.content-left {
    flex-grow: 1;
    margin: 20px;
    transform: translateX(5%)
}

.content-right {
    flex-grow: 1;
    margin: 20px;
    transform: translateX(55%)
}

.button {
    
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}