* {

}

header {
    padding-bottom: 80px;
}

body {
    max-width: 1200px;
    margin: 0 auto;
    background-color: rgb(10, 10, 10);
}

h1 {
    color: rgb(255, 255, 255)
}

p {
    color: rgb(255, 255, 255)
}

a {
    color: rgb(0, 0, 255)
}

.content-column {
    column-count: 2;
    padding-bottom: 20px;
}

.content-center {
    display: flex;
    justify-content: center;
}

.content-left {
    flex-grow: 1;
    margin: 20px;
    transform: translateX(5%);
}

.content-right {
    flex-grow: 1;
    margin: 20px;
    transform: translate(55%, 2.5%);
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}