header {
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
}

body {
    margin:  0;
    background-color: rgb(10, 10, 10);
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    transform: translateY(15%);
}
d
.grid-item {
    padding: 20px;
}
  
h1 {
    color: rgb(255, 255, 255)
}

h3 {
    color: rgb(255, 255, 255)
}

li {
    color: rgb(255, 255, 255)
}

a {
    color: rgb(0, 100, 175)
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}